* {
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
 .name {
   color: #F55800 !important;
 }

 .btn {
   background-color: #F55800 !important;
   border: none;
 }
.abs {
  position: absolute;
}

.content {
  width: 100%;
  height: auto;
}

li {
  font-size: 33px;
  list-style: none;
  text-decoration: none;
  color: black;
}
@media(max-width: 769px) {

}
h2 { 
  color: white;
  margin-left: 280px;
}

