* {
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.abs {
  position: absolute;
}

.content {
  width: 100%;
  height: auto;
}

li {
  font-size: 33px;
  list-style: none;
  text-decoration: none;
  color: black;
}


