.skills_wrap {
    width: 100%;
    height: auto;
    /* background: black; */
    color: white;
}
.skills_wrap h2 {
    text-align: center;
}
.terminal {
    width: 80%;
    background: black;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.term-head {
    height: 2em;
    width: 80%;
    background: grey;
    margin: auto;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    display: flex;
    flex-direction: column;
}

.cur_loc {
    display: block;
    font-size: 30px;
    float: left;
}
.red {
    color: red;
}

@media screen and (min-width: 800px) and (max-width: 4099px) {
    .terminal .cur_loc {
        font-size: 23px;
    }

    .skills_wrap {
        width: 100%;
        height: 75em;
        color: white;
    }

    .term-head {
        margin-top: 10%;
    }
}