.about__div {
  width: 100%;
  margin: 0;
}

main {
  height: 100%;
}

.typing {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 105.3%;
}

.headerStyle {
  font-size: 23px;
}

.headColor,
.descp {
  color: #727274;;
}

.designer {
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
}

.d-c {
  color: #000000;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.tech-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0;
}

.descp {
  font-size: 22px;
}

.diffBg {
  background-color: white;
  margin-top: 1%;
  border-radius: 10px;
}

.myIntro {
  color:#727274;
  font-family: 'Poppins', sans-serif;
}

.exp,
.s-links {
  color: #cad2c5;
}

.exp,
.ip-font {
  font-weight: 700;
  font-size: 18px;
}

.s-links {
  font-size: 25px;
}

.s-links:hover {
  color: #727274;;
}

.ip-font,
.dan {
  color: #F9855B;
}

.bskills {
  color: black;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

.align-content {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  margin-top: 1%;
  font-size: 23px;
  font-weight: 600;
}

.sm__txt {
  margin: auto;
}

.intro {
  text-align: center;
  font-size: 30px;
  padding: 1em;
  font-weight: 900;
  color: white;
}

.name,
.stack,
.skill {
  font-size: 35px;
  color: black;
}

.experience {
  width: 100%;
  height: 20em;
  margin-top: 10%;
  color: white;
}

.size {
  font-size: 70px;
  padding: 10px;
}

.design {
  color: black;
  font-size: 40px;
  text-align: center;
}

.no-marg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.email {
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  overflow: hidden;
}

.i-large {
  font-size: 18px;
  align-self: center;
  text-align: center;
  color: #F9855B;
  font-weight: 500;
}

.rotate {
  transform: rotate(90deg);
}

@media screen and (min-width: 1024px) {
  .sm__txt {
    font-size: 30px;
  }

  .profile__wrap {
    height: 28em;
  }

  .profile_img {
    height: 100%;
  }

  .homeWrap {
    height: auto;
    background-color: #E5E5E5;
  }

  .mColor {
    font-size: 35px;
    font-weight: 600;
  }

  .highlight {
    color: black;
  }

  .bgInfo {
    color: black;
    font-size: 60px;
  }

  .fs {
    font-size: 60px;
  }

  .design {
    color: black;
    font-size: 60px;
    text-align: center;
  }

  .exp {
    font-size: 70px;
    color: black;
    font-weight: 900;
  }

  .align-content {
    border: 0;
    font-weight: 900;
    margin-top: 0;
  }

  .special,
  .dev {
    color: black;
    font-weight: 900;
  }

  .rotate {
    transform: rotate(360deg);
  }

  .i-large {
    font-size: 40px;
  }

  aside {
    height: auto;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  main {
    height: auto;
  }

  .myIntro {
    font-size: 17px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1800px) {
  .about__div {
    display: flex;
    flex-direction: row;
  }

  .grid li {
    font-size: 20px;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .social-links ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .s-links {
    color: #F9855B;;
    font-size: 25px;
  }

  .s-links:hover {
    color: #E5E5E5;
  }

  .no-marg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
  }

  .homeWrap {
    height: 100%;
  }

  .email {
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 3em;
    display: grid;
    justify-content: space-between;
  }

  .i-large {
    font-size: 30px;
    align-self: center;
    text-align: center;
    color: #F9855B;
  }

  .ip-font {
    font-size: 25px;
  }

  .mwrap {
    height: auto;
    font-family: 'Poppins', sans-serif;
  }

  .style-img {
    border: none;
  }

  .diffBg {
    background-color: white;
  }

  .rotate {
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 767px) and (max-width: 999px) {
  .about__div {
    display: flex;
    flex-direction: row;
  }

  .grid li {
    font-size: 20px;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .social-links ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .s-links {
    color: white;
    font-size: 25px;
  }

  .s-links:hover {
    color: black;
  }

  aside {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .no-marg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
  }

  .myIntro {
    font-size: 20px;
  }

  .homeWrap {
    height: 100%;
  }

  .email {
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
  }

  .i-large {
    font-size: 40px;
    align-self: center;
    text-align: center;
    color: #F9855B;
  }

  .ip-font {
    font-size: 28px;
  }

  .rotate {
    transform: rotate(360deg);
  }
}

/* Home */
.projectWrap {
  height: auto;
}

.style-img {
  width: 100%;
  min-height: 10em;
  height: 20em;
}

.t1-color {
  color: white;
  font-weight: 600;
  overflow: hidden;
}

.link {
  display: grid;
  grid-auto-flow: column;
}

.s-icons {
  font-size: 30px;
  color: #F9855B;
}

.s-icons:hover {
  color: #727274;
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tech-items li {
  font-size: 17px;
  font-weight: 700;
  color: #cad2c5;
}

@media screen and (min-width: 770px) and (max-width: 4070px) {
  .projectWrap {
    height: 100%;
  }

  .tech-items {
    color: #cad2c5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .descp {
    margin-top: 1em;
    height: auto;
    font-size: 20px;
  }

  .hide-scroll {
    overflow: hidden;
  }
}
