
.about__div {
  width: 100%;
  margin: 0;
}

aside {
  background-color: #d3de32;
}

main {
  background-color: #006a71;
  height: 100%;
}

.designer {
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
}

.d-c {
  color: #006a71;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

.tech-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0;
}

.descp {
  font-size: 22px;
  font-weight: 800;
  color: #000000;
}

.hr {
  color: #d3de32;
}

.myIntro {
  color: #006a71;
  font-family: 'Roboto', sans-serif;
}

.t-color,
.exp,
.s-links {
  color: black;
}

.t-color {
  font-size: 44px;
  font-weight: 700;
}

.fs {
  color: green;
  font-weight: 700;
}

.exp,
.ip-font {
  font-weight: 700;
  font-size: 18px;
}

.s-links {
  font-size: 25px;
}

.s-links:hover {
  color: #006a71;
}

.ip-font {
  color: #006a71;
}

.bskills {
  color: black;
  font-weight: 800;
  font-family: 'Robonto', sans-serif;
}

.align-content {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  color: white;
  box-shadow: 5px 10px 5px #888, -5px -5px 5px white;
  margin-top: 5%;
  font-size: 23px;
  font-weight: 600;
}
.style-img {
  height: 5em;
}
.sm__txt {
  margin: auto;
}

.intro {
  text-align: center;
  font-size: 30px;
  padding: 1em;
  font-weight: 900;
  color: white;
}

.name,
.stack,
.skill {
  font-size: 35px;
  color: black;
}

.experience {
  width: 100%;
  height: 20em;
  margin-top: 10%;
  color: white;
}

.size {
  font-size: 70px;
  padding: 10px;
}

.design {
  color: black;
  font-size: 40px;
  text-align: center;
}

.no-marg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.email {
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  overflow: hidden;
}

.i-large {
  font-size: 18px;
  align-self: center;
  text-align: center;
  color: black;
  font-weight: 500;
}

.rotate {
  transform: rotate(90deg);
}

@media screen and (min-width: 1024px) {
  .sm__txt {
    font-size: 30px;
  }

  .profile__wrap {
    height: 28em;
  }

  .profile_img {
    height: 100%;
  }
  .homeWrap {
    height: auto;
  }

  .mColor {
    font-size: 45px;
    font-weight: 600;
  }

  .highlight {
    color: black;
  }

  .bgInfo {
    color: black;
    font-size: 60px;
  }

  .fs {
    font-size: 60px;
  }

  .design {
    color: black;
    font-size: 60px;
    text-align: center;
  }

  .exp {
    font-size: 70px;
    color: black;
    font-weight: 900;
  }

  .align-content {
    border: 0;
    font-weight: 900;
    margin-top: 5%;
  }

  .special,
  .dev {
    color: black;
    font-weight: 900;
  }

  .rotate {
    transform: rotate(360deg);
  }

  .i-large {
    font-size: 40px;
  }

  aside {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  main {
    height: 60em;
  }

  .myIntro {
    font-size: 17px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1800px) {
  .about__div {
    display: flex;
    flex-direction: row;
  }

  .profile_img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px -5px #000000, -5px  5px 10px black;
  }
  .grid li {
    font-size: 20px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .social-links ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .s-links {
    color: white;
    font-size: 35px;
  }

  .s-links:hover {
    color: #006a71;
    font-size: 40px;
  }

  .no-marg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
  }

  .t-color {
    font-size: 50px;
  }

  .homeWrap {
    height: 100%;
  }

  .email {
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 3em;
    display: grid;
    justify-content: space-between;
  }

  .i-large {
    font-size: 30px;
    align-self: center;
    text-align: center;
    color: black;
  }

  .ip-font {
    font-size: 60px;
  }

  .mwrap {
    height: auto;
    font-family: 'Oswald', sans-serif;
  }

  .style-img {
    border: none;
  }

  .descp {
    background-image:
      linear-gradient(
        to bottom left,
        5px 5px -5px black
        -5px  5px 10px black
      );
  }

  .rotate {
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 767px) and (max-width: 999px) {
  .about__div {
    display: flex;
    flex-direction: row;
  }

  .grid li {
    font-size: 20px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .social-links ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .s-links {
    color: white;
    font-size: 25px;
  }

  .s-links:hover {
    color: black;
    font-size: 27px;
  }

  aside {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .no-marg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
  }

  .myIntro {
    font-size: 20px;
  }

  .t-color {
    font-size: 50px;
  }

  .homeWrap {
    height: 100%;
  }

  .email {
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
  }

  .i-large {
    font-size: 40px;
    align-self: center;
    text-align: center;
    color: black;
  }

  .ip-font {
    font-size: 50px;
  }

  .rotate {
    transform: rotate(360deg);
  }

  .descp {
    color: #000000;
  }
}

/* Home */
.projectWrap {
  height: auto;
}

.style-img {
  width: 100%;
  min-height: 10em;
  height: 20em;
}

.t1-color {
  color: white;
}

.t1-color {
  font-weight: 600;
  overflow: hidden;
}

.link {
  display: grid;
  grid-auto-flow: column;
}

.s-icons {
  font-size: 30px;
  color: white;
}

.s-icons:hover {
  color: white;
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tech-items li {
  font-size: 17px;
  font-weight: 700;
  color: #d3de32;
}

@media screen and (max-width: 4061px) {
}

@media screen and (min-width: 770px) and (max-width: 4070px) {
  .projectWrap {
    height: 100%;
  }
  .tech-items {
    color: #d3de32;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .descp {
    margin-top: 1em;
    height: auto;
    font-size: 25px;
    color: #000000;
  }
  .hide-scroll {
    overflow: hidden;
  }
}
