.contactWrap {
    height: 100em;
}

.innerWrap {
    width: 80%;
    height: 50em;
    margin: auto;
    background: white;
}

@media screen and (min-width: 1024px) {
    .contactWrap {
        height: 100%;
    }
    
    .innerWrap {
        width: 80%;
        height: 30em;
        margin: auto;
        background: gold;
    }
    
    
}