.contactWrap {
    height: 100%;
}

.innerWrap {
    width: 80%;
    height: 35em;
    margin: auto;
    background: white;
}

@media screen and (min-width: 1024px) {
    .contactWrap {
        height: 75em;
    }
    
    .innerWrap {
        width: 80%;
        height: 30em;
        margin: auto;
        margin-top: 20%;
        background: violet;
        font-size: 50px;
    }

    .t2-color {
        color: black;
        font-weight: 700px;
        font-size: 70px;
    }

    .mod {
        width: 40%;
        height: 5em;
        font-size: 56px;
        margin-left: 30%;
        margin-top: 10%;
    }
    
}